html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Verdana, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 15px;
}

.form {
  max-width: 600px;
}

.form__input-box:not(:last-child) {
  margin-bottom: 20px;
}

.form__input-inp {
  border: 1px solid #2f2f2f;
  border-radius: 0;
  outline: none;
  width: 100%;
  padding: 14px 30px;
}

.form__input-inp:focus {
  outline: rgb(61, 255, 100) 2px solid;
}

.form__btn {
  background-color: black;
  padding: 14px 30px;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 10px;
}

.form__btn:hover {
  background-color: rgb(107, 107, 107);
}

.form__btn:active {
  background-color: rgb(78, 78, 78);
}

.form__btn:focus {
  outline: rgb(79, 79, 79) 2px solid;
}
